AllinDB_Make/.git

.env
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Dependency directories (Go modules)
vendor/

# IDE or editor files
.vscode/
.idea/
*.swp
